<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Running Summary
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-button (click)="goBack()">Back</ion-button>

  <div>
      <div class="datetime date">2021/02/01</div>
      <div class="datetime time">9:00am</div>  
  </div>

  <div>
    <h3><u>Basic Info</u></h3>

    <p><span class="param">Duration</span><span class="value">{{(duration/60).toFixed(0)}}m {{(duration%60).toFixed(0)}}s</span></p>
    <p><span class="param">Distance</span><span class="value">{{(distance/1000).toFixed(1)}}</span></p>
    <p><span class="param">Pacing</span><span class="value">{{(pacing*1000/60).toFixed(0)}}:{{ ("0"+((pacing*1000)%60).toFixed(0)).slice(-2) }} /km</span></p>
    <p><span class="param">Steps</span><span class="value">{{steps}}</span></p>
    <p><span class="param">Calories</span><span class="value">{{calories}}</span></p>
    
  </div>

  <div>
    <h3><u>Advanced Info</u></h3>
    <p><span class="param">Stride</span><span class="value">{{stride}}m</span></p>
    <p><span class="param">Cadence</span><span class="value">{{(cadence*60).toFixed(0)}}spm</span></p>
  </div>



</ion-content>