<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      S1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 
    <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
-->

<!-- 
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
-->

<ion-list>
  <ion-item>
    <ion-input label="Username" labelPlacement="stacked" name="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Password" labelPlacement="stacked" name="Password"></ion-input>
  </ion-item>
</ion-list>

<ion-button (click)="gotoS3()">Go</ion-button>


</ion-content>
